<!DOCTYPE html>
<html>
	<head>
		<title>template</title>
		<link rel="stylesheet" type="text/css" href="mystyle.css"/>
	</head>
	<body>
	<div id="search-box">
		<div id="box-input">
			<span style="font-style: bold;">Search<span> : 
			<input type="text" placeholder="Search by Name">
			<button>Submit</button>
		</div>
	</div><!--search box-->
		<div id="container">
			<div id="header" class="customFont fontStyle">Header</div><!--end header-->
			<div id="nav">navigasi</div><!--end nav-->
			<div id="content">
				<div id="real-content">
			<img style="width: 200px; height: 150px;" src="./images/ustyusuf.jpeg" />		
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
				<p>hello world</p>
					
				</div>
			</div><!--end content-->
			<div style="clear:both;"></div>
			<div class="customFont" id="footer">copyright&copy;bootcamp137</div><!--end footer-->
		</div><!--end container-->
	</body>
</html>

