body{
	margin: 0;
	padding: 0;
}
#container{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}
#search-box{
	top: 0;
	line-height: 50px;
	position: fixed;
	width: 100%;
	background-color: black;
	color: white;
}

#search-box #box-input{
	background-color: red;
	padding-left: 50px;
}
#header{
	height: 100px;
	background-color: blue;
	margin-bottom: 5px;
	padding: 10px;
}
#nav{
	float: left;
	background-color: brown;
	width: 25%;
}
#content{
	float: left;
	width: 75%;
	overflow: auto;
	background-color: red;
	min-height: 350px;
	margin-bottom: 10px;
}
#real-content{
	width: 100%;
	padding: 10px;
}
#footer{
	line-height: 50px;
	text-align: center;
	background-color: silver;
}

.customFont{
	color: red;
}
.fontStyle{
	font-style: italic;
}